:root {
  --cadet-blue-crayola: hsl(227, 13%, 73%);
  --maximum-yellow-red: hsl(41, 95%, 61%);
  --medium-sea-green: hsl(142, 43%, 54%);
  --blue-crayola_10: hsla(222, 100%, 61%, 0.05);
  --smocky-black_30: hsla(0, 0%, 6%, 0.3);
  --eerie-black-1: hsl(240, 5%, 8%);
  --eerie-black-2: hsl(228, 9%, 10%);
  --raisin-black: hsl(225, 15%, 16%);
  --blue-crayola: hsl(222, 100%, 61%);
  --roman-silver: hsl(223, 10%, 52%);
  --presian-red: hsl(0, 64%, 52%);
  --gunmetal_50: hsla(230, 16%, 22%, 0.5);
  --gainsboro: hsl(0, 0%, 85%);
  --cultured: hsl(0, 0%, 93%);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white_30: hsla(0, 0%, 100%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --white: hsl(0, 0%, 100%);

  /**
  *gradiente ejemplo
  */
  --gradient: linear-gradient(
    90deg,
    var(--white_10) 0px 77%,
    var(--white_50) 92%,
    transparent
  );

  /**
  *tipografía ejemplo
  */
  --ff-inter: "Inter", sans-serif;

  --fs-1: 3.2rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;
  --fs-10: 1rem;
  --fw-500: 500;
  --fw-700: 700;

  /**
  *spacing
  */
  --section-padding: 100px;

  /**
  *shadow
  */
  --shadow-1: 0px 4px 8px var(--black_10);
  --shadow-2: 0px 30px 10px -20px var(--smocky-black_30);
  --shadow-3: 0px 15px 10px -20px var(--smocky-black_30);

  /**
  *border radius
  */
  --radius-12: 12px;
  --radius-24: 24px;

  /**
  *transition
  */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--raisin-black);
  overflow-x: hidden;
  position: relative;
}

.background-container {
  background-color: #000000;
  background-size: cover;
  background-attachment: fixed;
  background-image: radial-gradient(
    circle at 50% 50%,
    transparent 5%,
    transparent 10%,
    transparent 15%,
    transparent 20%
  );
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.background-container::after {
  content: "";
  background-image: url(https://cryptologos.cc/logos/ethereum-eth-logo.png),
    url(https://cryptologos.cc/logos/litecoin-ltc-logo.png),
    url(https://cryptologos.cc/logos/binance-coin-bnb-logo.png),
    url(https://cryptologos.cc/logos/cardano-ada-logo.png),
    url(https://cryptologos.cc/logos/stellar-xlm-logo.png),
    url(https://cryptologos.cc/logos/solana-sol-logo.png),
    url(https://cryptologos.cc/logos/dogecoin-doge-logo.png),
    url(https://cryptologos.cc/logos/polkadot-new-dot-logo.png),
    url(https://cryptologos.cc/logos/chainlink-link-logo.png),
    url(https://cryptologos.cc/logos/uniswap-uni-logo.png),
    url(https://cryptologos.cc/logos/avalanche-avax-logo.png),
    url(https://cryptologos.cc/logos/cosmos-atom-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  animation: rotateBackground 40s linear infinite;
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: transparent;
  color: var(--white);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.logo img {
  width: 120px;
  margin-top: 10px;
  border-radius: 15px;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav-menu li {
  margin-right: 5%; /*Juan: mejor que quede en %*/
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu li a {
  color: var(--white);
  text-decoration: none;
  font-size: var(--fs-6);
}

.auth-buttons a {
  background-color: var(--maximum-yellow-red);
  color: var(--white);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs-6);
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--radius-12);
}

.landing-page {
  padding-top: calc(80px + 20px);
  text-align: center;
  padding: 100px;
  position: relative;
  z-index: 1;
}

footer {
  background-color: var(--eerie-black-1);
  color: var(--white);
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.title {
  color: white;
  font-size: 3.5em;
  font-weight: 900;
}

.subtitle {
  color: rgb(130, 130, 130);
  font-size: 1em;
  font-weight: normal;
}

/* Esto lo hice pensando en la página de About Us
      Habría que chequear si se pueden fusionar las clases */
/* HORRIBLE EL FONDO HAY QUE CAMBIARLO*/
.containerAU{ /*por qué no anda???? Respuesta: Anda OK*/
  padding-top: calc(80px + 20px);
  text-align: center;
  padding: 100px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.grid-AU{
  background: none;
  border: 1px solid lightgrey;
  position: relative;
  box-shadow: 3px 3px 3px 5px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Define 2 columnas de igual tamaño */
  gap: 20px; /* Espacio entre las columnas */
}
.flex-AU{
  background:lightgrey;
  border: 1px solid lightgrey;
  position: relative;
  box-shadow: 3px 3px 3px 5px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
  display: flex; /* Activa Flexbox para los elementos */
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  justify-content:space-around; /* Distribuye el espacio entre los elementos */
  flex-direction: column;
}
.flex-AU .title{
  color: rgb(73, 70, 70);
  font-size: 2em;
  font-weight: 600;

}
.flex-AU .text{
  color: rgb(107, 98, 98);
  font-size: 0.9em;
  font-weight: 600;
  text-align: justify;
  padding: 1em;
}
.grid-integrantes{
  background: none;
  border: 1px solid lightgrey;
  position: relative;
  box-shadow: 3px 3px 3px 5px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
  display: grid;
  /*grid-template-rows: repeat(4, 1fr); /* Define 2 columnas de igual tamaño */
  grid-template-columns: repeat(4,1fr) ;
  gap: 5px; /* Espacio entre las columnas */
}

.grid-integrantes .flex-AU .text{
  color: rgb(107, 98, 98);
  font-size: 0.8em;
  font-weight: 600;
  text-align: justify;
  padding: 1em;
}
.flex-AU ul{
  padding: 1px;
  margin: 5px;
  display:flex;
  flex-direction: column;
}
.flex-AU li{
  list-style:square; /* Elimina las viñetas predeterminadas */
  padding:1px; /* Elimina el padding predeterminado de los elementos de la lista */
}


/*-----------------------------------------*/

/* RESPONSIVE About Us / General */

/*NOTA: No me gusta los estilos pero bueno puse colores para ir viendo como cambia*/

/*CELU*/
@media only screen and (max-width: 600px) {
  .container{
    padding-left: 2%;
    padding-right: 0%;
    margin-right:1.1em ;
    margin-left: 0;
    background-color: #000000;
  }
  .background-container{
    overflow-y: auto;
    overflow-x: auto;
    overflow-wrap: normal;
  }
  .nav-menu{
    font-size: 0.5em;
    
  }
  .auth-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .auth-buttons a {
    background-color: var(--maximum-yellow-red);
    color: var(--white);
    padding: 2% 3%;
    padding-right: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fs-10);
    margin: 1% 2%;
    margin-right: 0;
    cursor: pointer;
    border-radius: var(--radius-12);
  }
  .auth-buttons a:last-child{
    font-size: 80%;
  }
  .logo img{
    width: 80%;
    margin-top:auto;
    border-radius: 10%;
  }

  .nav-menu li {
    margin-right: 2%; /*Juan: mejor que quede en %*/
    font-size: 0.8em;
  }
  
  .nav-menu li:last-child {
    margin-right: 1%;
    font-size: var(--fs-8);
  }
  
  .nav-menu li a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--fs-8);
  }
  
  
  
  .containerAU{
    text-wrap: stable;
    padding-right: 0%;
    padding-left: 0%;
  }
  .title {
    color: white;
    font-size: 1em;
    font-weight: 900;
    text-wrap: wrap;
    justify-content: center;

  }
  .subtitle {
    color: rgb(130, 130, 130);
    font-size: 0.8em;
    font-weight: normal;
    text-wrap:pretty;
    word-wrap: break-word;
    text-align:center;
  }
  .grid-AU{
    background: none;
    border: 2px solid rgb(255, 0, 0);
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Define 2 columnas de igual tamaño */
    gap: 0.5%; /* Espacio entre las columnas */
    padding: 0%;
    margin: 0%;
  }
  .flex-AU{
    background:lightgrey;
    border: 1px solid rgb(255, 0, 0);
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
    display: flex; /* Activa Flexbox para los elementos */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content:space-between; /* Distribuye el espacio entre los elementos */
    flex-direction: column;
    margin-top:auto;
  }
  .flex-AU .title{
    color: rgb(73, 70, 70);
    font-size: var(--fs-10);
    font-weight: 600;
    padding: 0;
    margin-right: 15%;
    text-align: center;
  
  }
  .flex-AU .text{
    color: rgb(107, 98, 98);
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    margin-right: 10%;
  }
  .flex-AU img{
    width: 10em;
    height: 10em;
    margin-top: 0;
    padding:0;
  }
  .grid-integrantes{
    background: none;
    border: 1px solid rgb(6, 1, 250);
    position: relative;
    display: grid;
    grid-template-columns: 1fr ;
    gap:0;
    justify-content: space-evenly;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
  }
  
  .grid-integrantes .flex-AU .text{
    color: rgb(107, 98, 98);
    font-size: 0.8em;
    font-weight: 600;
    text-align: justify;
    padding: 1em;
  }
  .flex-AU ul{
    padding: 1px;
    margin: 5px;
    display:flex;
    flex-direction: column;
  }
  .flex-AU li{
    list-style:square; /* Elimina las viñetas predeterminadas */
    padding:1px; /* Elimina el padding predeterminado de los elementos de la lista */
  }
}

/*TABLET?*/
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .container{
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-right:1.1em ;
    margin-left: 0;
    background-color: #000000;
  }
  .background-container{
    overflow-y: auto;
    overflow-x: auto;
    overflow-wrap: normal;
  }
  .nav-menu{
    justify-content: space-around;
    align-content: center;
        
  }
  .auth-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content:space-around;
    justify-items: auto;
    align-items: auto ;
  }
  .auth-buttons a {
    background-color: var(--maximum-yellow-red);
    color: var(--white);
    padding: 5% 5%;
    padding-right: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 3% 3%;
    margin-right: 0;
    cursor: pointer;
    border-radius: var(--radius-12);
  }
  .auth-buttons a:last-child{
    font-size: 2vw;
  }
  .logo img{
    width: 80%;
    margin-top:1%;
    border-radius: 10%;
  }

  .nav-menu li {
    margin-right: 1vw; /*Juan: mejor que quede en %*/
    font-size: 5vw;
  }
  
  .nav-menu li:last-child {
    margin-right: 1%;
    font-size: 5vw;
  }
  
  .nav-menu li a {
    color: var(--white);
    text-decoration: none;
    font-size: 3vw;
  }
  
  
  
  .containerAU{
    text-wrap: stable;
    padding-right: 0%;
    padding-left: 0%;
  }

  .title {
    color: white;
    font-size: 8vw;
    font-weight: 900;
    text-wrap: wrap;
    justify-content: center;

  }
  .subtitle {
    color: rgb(130, 130, 130);
    font-size: 5vw;
    font-weight: normal;
    text-wrap:pretty;
    word-wrap: break-word;
    text-align:center;
  }
  .grid-AU{
    background: none;
    border: 5px solid rgb(0, 17, 255);
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Define 2 columnas de igual tamaño */
    gap: 1vw; /* Espacio entre las columnas */
    padding: 0%;
    margin: 0%;
  }
  .flex-AU{
    background:lightgrey;
    border: 1vw solid rgb(255, 0, 0);
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
    display: flex; /* Activa Flexbox para los elementos */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    align-content: space-around;
    justify-content:space-between; /* Distribuye el espacio entre los elementos */
    justify-items: center;
    flex-direction: column;
    margin-top:auto;
  }
  .flex-AU .title{
    color: rgb(73, 70, 70);
    font-size: 5vw;
    font-weight: 600;
    padding: 0;
    margin-right: 15%;
    text-align: center;
    margin-left: 10%
  
  }
  .flex-AU .text{
    color: rgb(107, 98, 98);
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    padding-right: 15%;
    padding-left: 0%;
    margin-left: 10%;
  }
  .flex-AU img{
    width: 50%;
    height: auto;
    margin-top: 0;
    padding:0;
    justify-items: center;
  }
  .grid-integrantes{
    background: none;
    border: 1vw solid rgb(6, 1, 250);
    position: relative;
    display: grid;
    grid-template-columns: 1fr ;
    gap:0;
    justify-content: space-evenly;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
  }
  
  .grid-integrantes .flex-AU .text{
    color: rgb(107, 98, 98);
    font-size: 3vw;
    font-weight: 600;
    text-align: justify;
    padding: 1em;
  }
  
  .flex-AU ul{
    padding: 1px;
    margin: 5px;
    display:flex;
    flex-direction: column;
  }
  .flex-AU li{
    list-style:square; /* Elimina las viñetas predeterminadas */
    padding:1px; /* Elimina el padding predeterminado de los elementos de la lista */
  }
}



/*PC*/
@media only screen and (min-width: 1001px) {
  .container{
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-right: 1.1em ;
    margin-left: 0;
    background-color: #020202;
  }
  .background-container{
    overflow-y: auto;
    overflow-x: auto;
    overflow-wrap: normal;
  }
  .nav-menu{
    justify-content: space-evenly;
    align-content: center;
    position: relative;
  }
  .auth-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content:space-evenly;
    justify-items: auto;
    align-items: auto ;
  }
  .auth-buttons a {
    background-color: var(--maximum-yellow-red);
    color: var(--white);
    padding: 5% 5%;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin-right: 3.2vw;
    cursor: pointer;
    border-radius: var(--radius-24);
    text-wrap: nowrap;
  }
  .logo img{
    width: 100%;
    margin-top:1%;
    border-radius: 10%;
  }

  .nav-menu li {
    margin-right: 0; /*Juan: mejor que quede en %*/
    font-size: 1vw;
  }
  
  .nav-menu li:last-child {
    margin-right: 0;
    font-size: 1vw;
  }
  
  .nav-menu li a {
    color: var(--white);
    text-decoration: none;
    font-size: 2vw;
  }
  
  
  
  .containerAU{
    text-wrap: stable;
    padding-right: 0%;
    padding-left: 0%;
    position: relative;
  }

  .title {
    color: white;
    font-size: 5vw;
    font-weight: 900;
    text-wrap: wrap;
    justify-content: center;

  }
  .subtitle {
    color: rgb(130, 130, 130);
    font-size: 4vw;
    font-weight: normal;
    text-wrap:pretty;
    word-wrap: break-word;
    text-align:center;
  }
  .containerAU{ /*por qué no anda???? Respuesta: Anda OK*/
    padding-top: calc(80px + 20px);
    text-align: center;
    padding: 100px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .grid-AU{
    background: none;
    border: 1px solid lightgrey;
    position: relative;
    box-shadow: 3px 3px 3px 5px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas */
  }
  .flex-AU{
    background:lightgrey;
    border: 1px solid lightgrey;
    position: relative;
    box-shadow: 3px 3px 3px 5px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
    display: flex; /* Activa Flexbox para los elementos */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content:space-evenly; /* Distribuye el espacio entre los elementos */
    flex-direction: column;
  }
  .flex-AU .title{
    color: rgb(73, 70, 70);
    font-size: 3vw;
    font-weight: 600;  
  }
  .flex-AU .text{
    color: rgb(107, 98, 98);
    font-size: 2vw;
    font-weight: 600;
    text-align: justify;
  }
  .grid-integrantes{
    background: none;
    border: 1px solid lightgrey;
    position: relative;
    box-shadow: 3px 3px 3px 5px rgba(112, 112, 112, 0.5); /* Sombra gris con 50% de opacidad */
    display: grid;
    /*grid-template-rows: repeat(4, 1fr); /* Define 2 columnas de igual tamaño */
    grid-template-columns: repeat(4,1fr) ;
    gap: 5px; /* Espacio entre las columnas */
  }
  
  .grid-integrantes .flex-AU .text{
    color: rgb(107, 98, 98);
    font-size: 1vw;
    font-weight: 600;
    text-align: justify;
    padding: 1em;
  }
  .flex-AU ul{
    padding: 1px;
    margin: 5px;
    display:flex;
    flex-direction: column;
  }
  .flex-AU li{
    list-style:square; /* Elimina las viñetas predeterminadas */
    padding:1px; /* Elimina el padding predeterminado de los elementos de la lista */
  }
  .flex-AU img{
    width: 80%;
    height: auto;
    margin-top: 0;
    padding:0;
    justify-items: center;
  }
}
